*{
    margin:0;
    padding:0;
}

.card{
   width: 250px;
   margin-top: 50px;
}

.img-box{
   width: 100%;
   height: 100%;
   
}

.img-box img{
   width: 100%;
   height: 100%;
   border: 2px solid black;
}

h3{
   margin-left: 20px;
   
}

#formulario{
   margin-left: 20px;
}

.btnav{
   margin-left: 8px;
}

.piepag{
   display: flex;
   flex-direction: row;
   justify-content: end;
   height: 70px;
   margin-top: 20px;
}

.btnpie{
   margin-right: 10px;
}

.formdesign1{
   margin-right: 8px;
}

.formdesign2{
   margin-right: 7px;
}

.formdesign3{
   margin-right: 16px;
}

.formdesign4{
   margin-right: 14px;
}

.emotifeliz{
   width: 300px;
   height: 200px;
   margin-left: 520px;
   margin-top: 50px;
}

.emotitriste{
   width: 100px;
   height: 100px;
   margin-left: 200px;
}